{% spaceless %}
<!DOCTYPE hmtl>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metas %}{% endblock metas %}

    {{ ui_google_font() }}

    {% block stylesheets -%}
        {% stylesheets output='css/example/main.css' filter='cssrewrite, ?yui_css' debug=false
            'css/content.css'
            'css/fontawesome.css'
            'css/core.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}

        {% include 'EkynaCoreBundle:Ui:ie-fix.html.twig' %}
    {%- endblock stylesheets %}
</head>
<body>
    {% block body %}{% endblock body %}

    {% include "EkynaCoreBundle:Ui:modal.html.twig" %}

    {% block javascripts -%}
        {% javascripts output='js/example/main.js' filter='?yui_js' debug=false
            'js/jquery.js'
            'js/bootstrap.js'
            'js/core.js'
            '@EkynaCmsBundle/Resources/asset/js/init.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {%- endblock javascripts %}
</body>
</html>
{% endspaceless %}