{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.page.header.list'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{#{ admin_resource_btn('ekyna_cms.page', 'new') }#}
{% endblock %}

{% block main %}
{{ ekyna_table_render(pages, {'class': 'table-nested'}) }}
{% endblock %}