{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block actions %}

{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(slideShow, 'edit') }}
    {{ admin_resource_btn(slideShow, 'remove') }}
</div>
<div class="show">
    <div class="show-body">
        {{ show_row(slide.name, 'text', {
            'label': 'ekyna_core.field.name'
        }) }}
    </div>
</div>
{% endblock %}
