@import "editor-variables.less";

html[data-cms-editor-document] {

    .cms-container {
        border: 1px dotted transparent;
        transition: border-color linear 1s;

        &:hover {
            border: 1px dotted lighten(@document-container-color, @document-dotted-lighten);
            transition-duration: .2s;
        }
        &.selected, &.selected:hover {
            border: 1px solid lighten(@document-container-color, @document-solid-lighten);
            transition-duration: .2s;
        }

        > .cms-inner-container {
            padding: @document-element-padding;
        }
    }

    .cms-row {
        padding-top: @document-element-padding;
        padding-bottom: @document-element-padding;
        border: 1px dotted transparent;
        transition: border-color linear 1s;

        &:hover {
            border: 1px dotted lighten(@document-row-color, @document-dotted-lighten);
            transition-duration: .2s;
        }
        &.selected, &.selected:hover {
            border: 1px solid lighten(@document-row-color, @document-solid-lighten);
            transition-duration: .2s;
        }
    }

    .cms-column {
        padding-left: @document-element-padding;
        padding-right: @document-element-padding;
    }

    .cms-block {
        border: 1px dotted transparent;
        transition: border-color linear 1s;

        &:hover {
            border: 1px dotted lighten(@document-block-color, @document-dotted-lighten);
            transition-duration: .2s;
        }
        &.selected, &.selected:hover {
            border: 1px solid lighten(@document-block-color, @document-solid-lighten);
            transition-duration: .2s;
        }
    }
}

