@editor-toolbar-border-radius: 6px;
@editor-controls-margin: 8px;

@editor-viewport-transition-speed: .2s;
@editor-button-rotate-speed: .8s;

@document-layout-color: #f2b623;
@document-widget-color: #cf4b27;
@document-block-color: #9c27b0;
@document-row-color: #2196f3;
@document-container-color: #4caf50;

@document-dotted-lighten: 20%;
@document-solid-lighten: 10%;
