.cms-content {
  /*margin-bottom: 10px;
  border: 1px dotted transparent;

  &:hover {
    border-color: #cccccc;
  }*/

  > .cms-container {
    margin-bottom: 10px;
    border: 1px dotted transparent;

    &:hover {
      border-color: rgba(255, 149, 0, 0.4);
    }

    > .cms-row {
      margin-bottom: 10px;
      border: 1px dotted transparent;

      &:hover {
        border-color: rgba(255, 38, 0, 0.4);
      }

      > .cms-column {
        /*margin-bottom: 10px;
        border: 1px dotted transparent;

        &:hover {
          border-color: rgba(255, 0, 222, 0.4);
        }*/

        > .cms-block {
          margin-bottom: 10px;
          border: 1px dotted transparent;

          &:hover {
            border-color: rgba(1, 0, 255, 0.4);
          }
        }
      }
    }
  }
}

