@editor-toolbar-border-radius: 6px;
@editor-controls-margin: 8px;

@editor-block-color: #9c27b0;
@editor-row-color: #2196f3;
@editor-container-color: #4caf50;

@viewport-transition-speed: .2s;
@button-rotate-speed: .8s;
