@import "editor-variables.less";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.cms-editor {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding-top: 50px;
  background-color: #aaaaaa !important;
}

.editor-toolbar {
  position: absolute;
  z-index: 2;
  //overflow: hidden;
  padding: @editor-controls-margin;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  border-radius: @editor-toolbar-border-radius;

  -webkit-transition:
          top @viewport-transition-speed,
          right @viewport-transition-speed,
          bottom @viewport-transition-speed,
          left @viewport-transition-speed;
  -moz-transition:
          top @viewport-transition-speed,
          right @viewport-transition-speed,
          bottom @viewport-transition-speed,
          left @viewport-transition-speed;;
  -o-transition:
          top @viewport-transition-speed,
          right @viewport-transition-speed,
          bottom @viewport-transition-speed,
          left @viewport-transition-speed;;
  -ms-transition:
          top @viewport-transition-speed,
          right @viewport-transition-speed,
          bottom @viewport-transition-speed,
          left @viewport-transition-speed;;
  transition:
          top @viewport-transition-speed,
          right @viewport-transition-speed,
          bottom @viewport-transition-speed,
          left @viewport-transition-speed;;

  &.horizontal {
    > .btn-group {
      margin-right: @editor-controls-margin;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.vertical {
    > .btn-group {
      display: block;
      //overflow: hidden;
      margin-bottom: @editor-controls-margin;

      &:after {
        display: block;
        clear: both;
        content: " ";
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    height: 18px;
    line-height: 16px;
    font-size: 11px;
    padding: 0 6px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
  }

  &.block-toolbar:before {
    content: "Bloc";
    background-color: @editor-block-color;
  }
  &.row-toolbar:before {
    content: "Ligne";
    background-color: @editor-row-color;
  }
  &.container-toolbar:before {
    content: "Conteneur";
    background-color: @editor-container-color;
  }

  &.top {
    padding-top: 18px + @editor-controls-margin;

    &:before {
      top: 0;
    }
    &.right {
      border-top-right-radius: 0;

      &:before {
        border-top-left-radius: @editor-toolbar-border-radius;
      }
    }
    &.left {
      border-top-left-radius: 0;

      &:before {
        border-top-right-radius: @editor-toolbar-border-radius;
      }
    }
  }
  &.bottom {
    padding-bottom: 16 + @editor-controls-margin;

    &:before {
      bottom: 0;
    }
    &.right {
      border-bottom-right-radius: 0;

      &:before {
        border-bottom-left-radius: @editor-toolbar-border-radius;
      }
    }
    &.left {
      border-bottom-left-radius: 0;

      &:before {
        border-bottom-right-radius: @editor-toolbar-border-radius;
      }
    }
  }
  &.right:before {
    text-align: right;
  }

  .btn {
    min-width: 43px;
  }

  .btn > span {
    -webkit-transition: -webkit-transform @button-rotate-speed;
    -moz-transition: -moz-transform @button-rotate-speed;
    -o-transition: -o-transform @button-rotate-speed;
    -ms-transition: -ms-transform @button-rotate-speed;
    transition: transform @button-rotate-speed;
  }
  .btn.rotate > span {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}


#editor-control-bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: (34 + 2 * @editor-controls-margin);
  border-radius: 0;
}

#editor-viewport {
  position: absolute;
  z-index: 1;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  overflow: hidden;
  background-color: #ffffff;

  -webkit-transition: all @viewport-transition-speed;
  -moz-transition: all @viewport-transition-speed;
  -o-transition: all @viewport-transition-speed;
  -ms-transition: all @viewport-transition-speed;
  transition: all @viewport-transition-speed;

  iframe {
    width: 100%;
    height: 100%;
  }
}
