@ui-color: #999;
@ui-hover-color: #ccc;

.cms-slide-show {
    position: relative;
    width: 100%;
    height: 400px;

    .cms-slide-show-nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 99;
        padding: 20px 0;
        text-align: center;

        > ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: inline-block;
            text-align: center;

            > li {
                display: inline-block;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                > a {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 2px solid @ui-color;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    font-size: 0;
                    box-shadow: 0 2px 7px rgba(0, 0, 0, .5);
                    transition: border-color .3s, background-color .3s;

                    &:hover {
                        border-color: @ui-hover-color;
                        background-color: @ui-hover-color;
                    }
                }

                &.active {
                    > a {
                        border-color: @ui-hover-color;
                    }
                }
            }
        }
    }

    .cms-slide-show-prev, .cms-slide-show-next {
        position: absolute;
        z-index: 100;
        display: block;
        width: 100px;
        max-width: 5%;
        top: 0;
        bottom: 0;

        &:before {
            color: @ui-color;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -20px 0 0 -20px;
            font-family: monospace;
            text-shadow: 0 2px 7px rgba(0, 0, 0, .5);
            transition: color .3s;
        }

        &:hover {
            &:before {
                color: @ui-hover-color;
            }
        }
    }

    .cms-slide-show-prev {
        left: 0;

        &:before {
            content: "<";
        }
    }

    .cms-slide-show-next {
        right: 0;

        &:before {
            content: ">";
        }
    }

    .cms-slides {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;

        .cms-slide {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            background-size: cover;
            display: none;

            .cms-slide-wrapper {
                height: 100%;
                margin: 0 auto;
                padding: 1px 40px;
                box-sizing: border-box;
                position: relative;
            }

            &[data-type="default"] {
                text-align: center;
                h2 {
                    margin: 80px auto 0 auto;
                }
                p.lead {
                    margin: 40px auto 0 auto;
                }
                p.button {
                    margin: 40px auto 0 auto;
                }
            }

            &[data-type="hero"] {
                div.left {
                    float: none;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    width: 50%;
                    transform: translate(0, -50%);
                }
                img {
                    position: absolute;
                    top:0;
                    right: 0;
                    height: 100%;
                    width: auto;
                }
            }

            &.cms-slide-light {
                color: #333;
            }

            &.cms-slide-dark {
                color: #e2e2e2;
            }
        }
    }
}

@media (min-width: 768px) {
    .cms-slide-show {
        .cms-slides {
            .cms-slide {
                .cms-slide-wrapper {
                    max-width: 720px;
                }

                &[data-type="default"] {
                    h2 {
                        max-width: 80%;
                    }
                    p.lead {
                        max-width: 80%;
                    }
                    p.button {
                        max-width: 80%;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .cms-slide-show {
        .cms-slides {
            .cms-slide {
                .cms-slide-wrapper {
                    padding: 1px 0;
                    max-width: 940px;
                }

                &[data-type="default"] {
                    h2 {
                        max-width: 50%;
                    }
                    p.lead {
                        max-width: 50%;
                    }
                    p.button {
                        max-width: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .cms-slide-show {
        .cms-slides {
            .cms-slide {
                .cms-slide-wrapper {
                    max-width: 1140px;
                }
            }
        }
    }
}
