{% spaceless %}
<div class="row">
    <div class="col-md-6">
        {#{{ cms_block('footer_first_col') }}#}
    </div>
    <div class="col-md-6">
        {{ cms_menu('footer', {'style': 'unstyled'}) }}
    </div>
</div>
{% endspaceless %}
