{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block actions %}{% endblock %}


{% block main_tabs -%}
    <li class="active">
        <a href="#tag-general" id="toggle-general" data-toggle="tab">
            {{ 'field.general'|trans({}, 'EkynaUi') }}
        </a>
    </li>
{%- endblock main_tabs %}


{% block main_contents -%}
    <div class="tab-pane active" id="tag-general">
        {{ show_row(tag.name, 'text', {
            'label': t('field.name', {}, 'EkynaUi'),
        }) }}
        <div class="row">
            <div class="col-md-6">
                {{ show_row(tag.theme|cms_theme, 'text', {
                    'label': t('field.theme', {}, 'EkynaUi'),
                    'label_col': 4
                }) }}
            </div>
            <div class="col-md-6">
                {{ show_row(tag.icon|ui_fa_icon ~ ' (' ~ tag.icon ~ ')', 'text', {
                    'label': t('field.icon', {}, 'EkynaUi'),
                    'label_col': 4
                }) }}
            </div>
        </div>
    </div>
{%- endblock main_contents -%}
