{% extends "EkynaAdminBundle:Entity/Default:new.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.menu.header.new'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_cms.menu', 'list') }}
{% endblock %}
