.cms-editor-enabled .cms-editor-block {
    min-height: 36px;
    border: 1px dotted #ddd;
}

/*
 * ------------ HIGHLIGHT ------------
 */
.cms-editor-selected-row {
    border: 1px dotted #6dcff6 !important;
}

.cms-editor-selected-block {
    border: 1px dotted #f68e56 !important;
}

/*
 * ------------ BOX ------------
 */
.cms-editor-box {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 9999;
    width: 67px;
    background: #e5e5e5;
    border-radius: 7px;
    box-shadow:0 1px 3px #bbb;
}

.cms-editor-box.pinned {
    right: 0px;
    border-radius: 7px 0 0 7px;
}

.cms-editor-enabled .cms-editor-box {
    width: 210px;
}

/*
 * ------------ BUTTONS ------------ 
 */

.cms-editor-group {
    display: none;
    overflow: hidden;
    padding: 7px 7px 4px 7px;
    border-bottom: 1px solid #999;
    line-height: 33px;
}

.cms-editor-group:last-child {
    border-bottom: none;
}

.cms-editor-enabled .cms-editor-group {
    display: block;
}

.cms-editor-box .btn {
    color: #333;
    background-color: #e5e5e5;
    border-color: #bfbfbf;
    padding: 2px;
    box-shadow:0 1px 2px #ddd;
    float: left;
    margin: 0 3px 3px 0;
}
.cms-editor-group .btn:last-child {
    margin: 0;
}

.cms-editor-box .btn:hover,
.cms-editor-box .btn:focus,
.cms-editor-box .btn:active {
    color: #333;
    background-color: #fff;
    border-color: #999;
}
.cms-editor-box .btn:active {
    background-image: none;
}
.cms-editor-box .btn.disabled,
.cms-editor-box .btn[disabled],
.cms-editor-box .btn.disabled:hover,
.cms-editor-box .btn[disabled]:hover,
.cms-editor-box .btn.disabled:focus,
.cms-editor-box .btn[disabled]:focus,
.cms-editor-box .btn.disabled:active,
.cms-editor-box .btn[disabled]:active,
.cms-editor-box .btn.disabled.active,
.cms-editor-box .btn[disabled].active {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.cms-editor-box .btn.disabled:before,
.cms-editor-box .btn[disabled]:before {
    opacity: .4;
}

.cms-editor-box .btn:before {
    display: block;
    width: 24px;
    height: 24px;
    content: "";
    background: url('/bundles/ekynacms/img/cms-editor-icons.png') no-repeat 0 0 scroll;
}

/* Row controls icons */
.cms-editor-box .cms-editor-row-add:before { background-position: 0px 0px; }
.cms-editor-box .cms-editor-row-remove:before { background-position: -24px 0px; }
.cms-editor-box .cms-editor-row-insert-before:before { background-position: -48px 0px; }
.cms-editor-box .cms-editor-row-insert-after:before { background-position: -72px 0px; }
.cms-editor-box .cms-editor-row-move-up:before { background-position: 0px -24px; }
.cms-editor-box .cms-editor-row-move-down:before { background-position: -24px -24px; }

/* Column controls icons */
.cms-editor-box .cms-editor-column-add:before { background-position: -48px -24px; }
.cms-editor-box .cms-editor-column-remove:before { background-position: -72px -24px; }
.cms-editor-box .cms-editor-column-insert-before:before { background-position: 0px -48px; }
.cms-editor-box .cms-editor-column-insert-after:before { background-position: -24px -48px; }
.cms-editor-box .cms-editor-column-move-left:before { background-position: -48px -48px; }
.cms-editor-box .cms-editor-column-move-right:before { background-position: -72px -48px; }
.cms-editor-box .cms-editor-column-move-up:before { background-position: 0px -72px; }
.cms-editor-box .cms-editor-column-move-down:before { background-position: -24px -72px; }
.cms-editor-box .cms-editor-column-grow:before { background-position: -48px -72px; }
.cms-editor-box .cms-editor-column-reduce:before { background-position: -72px -72px; }

/*
 * ------------ HEADER ------------
 */
.cms-editor-head {
    height: 36px;
    background: #666;
    border-radius: 7px;
    padding: 5px;
}

.cms-editor-box.pinned .cms-editor-head {
    border-radius: 7px 0 0 7px;
}

.cms-editor-enabled .cms-editor-head {
    border-radius: 7px 7px 0 0;
}

.cms-editor-enabled .cms-editor-box.pinned .cms-editor-head {
    border-radius: 7px 0 0 0;
}

.cms-editor-head .btn {
    margin: 0 5px 0 0;
    float: right;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;    
}
.cms-editor-head .btn:first-child {
    margin: 0;
}

.cms-editor-head .btn:hover,
.cms-editor-head .btn:focus,
.cms-editor-head .btn:active {
    color: #fff;
    background-color: #525252;
    border-color: #757575;
    box-shadow:0 1px 2px #444;    
}
.cms-editor-head .btn:active {
    background-image: none;
}
.cms-editor-head .btn.disabled,
.cms-editor-head .btn[disabled],
.cms-editor-head .btn.disabled:hover,
.cms-editor-head .btn[disabled]:hover,
.cms-editor-head .btn.disabled:focus,
.cms-editor-head .btn[disabled]:focus,
.cms-editor-head .btn.disabled:active,
.cms-editor-head .btn[disabled]:active,
.cms-editor-head .btn.disabled.active,
.cms-editor-head .btn[disabled].active {
    background-color: transparent;
    border-color: transparent;
}

.cms-editor-head .btn:before {
    width: 20px;
    height: 20px;
}

/* Header icons */
.cms-editor-head .cms-editor-busy {
    display: block;
    float: right;
    padding: 3px;
    margin: 0 5px 0 0;
}
.cms-editor-head .cms-editor-busy:before {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background: url('/bundles/ekynacms/img/cms-editor-icons.png') no-repeat 0px -120px scroll;
}

.cms-editor-head .cms-editor-save:before { background-position: -24px -120px; }
.cms-editor-head .cms-editor-pin:before { background-position: -48px -120px; opacity: 1; }
.cms-editor-box.pinned .cms-editor-pin:before { opacity: .4; }
.cms-editor-head .cms-editor-enable:before { background-position: -72px -120px; opacity: .4; }
.cms-editor-enabled .cms-editor-box .cms-editor-enable:before { opacity: 1; }

.cms-editor-head .btn:hover:before,
.cms-editor-head .btn:focus:before,
.cms-editor-head .btn:active:before {
    opacity: 1;
}

/*
 * ------------ PLUGINS ------------
 */
#tinymce-plugin-editor {
    overflow: hidden;
}
.cms-editor-content #tinymce-plugin-editor {
    margin: -1px -15px;
    padding: 0 14px;
}
















