<div style="position:fixed;width:100%;height:100%;z-index:1050;top:0;left:0;opacity:0.5;background-color:rgb(204,204,204);"></div>
<div style="z-index:1051;position:fixed;left:50%;top:50%;">
    <div style="position:relative;left:-50%;margin-top:-25%;background-color:rgb(255,255,255);padding:20px;box-shadow:rgb(136,136,136) 4px 4px 25px;">
        <div class="cookies-consent-content">
            {{ get_setting('cookies.dialog_text')|raw }}
        </div>
        <p style="border-top:1px solid rgb(204,204,204);padding-top:10px;margin-bottom:0;">
            <a class="cookies-consent-dismiss" href="javascript:void(0)" style="margin-left:16px;float:right;">
                {{ 'ekyna_cms.settings.cookies.close'|trans }}
            </a>
            <a class="cookies-consent-info" href="{{ path('cookies_privacy_policy') }}" target="_blank">
                {{ 'ekyna_cms.settings.cookies.learn'|trans }}
            </a>
        </p>
    </div>
</div>
