html[data-cms-editor-document] .cms-container {
  border: 1px dotted transparent;
  transition: border-color linear 1s;
}
html[data-cms-editor-document] .cms-container:hover {
  border: 1px dotted #92cf94;
  transition-duration: .2s;
}
html[data-cms-editor-document] .cms-container.selected,
html[data-cms-editor-document] .cms-container.selected:hover {
  border: 1px solid #6ec071;
  transition-duration: .2s;
}
html[data-cms-editor-document] .cms-container > .cms-inner-container {
  padding: 14px;
}
html[data-cms-editor-document] .cms-row {
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px dotted transparent;
  transition: border-color linear 1s;
}
html[data-cms-editor-document] .cms-row:hover {
  border: 1px dotted #82c4f8;
  transition-duration: .2s;
}
html[data-cms-editor-document] .cms-row.selected,
html[data-cms-editor-document] .cms-row.selected:hover {
  border: 1px solid #51adf6;
  transition-duration: .2s;
}
html[data-cms-editor-document] .cms-column {
  padding-left: 14px;
  padding-right: 14px;
}
html[data-cms-editor-document] .cms-block {
  border: 1px dotted transparent;
  transition: border-color linear 1s;
}
html[data-cms-editor-document] .cms-block:hover {
  border: 1px dotted #ca61dc;
  transition-duration: .2s;
}
html[data-cms-editor-document] .cms-block.selected,
html[data-cms-editor-document] .cms-block.selected:hover {
  border: 1px solid #bc37d3;
  transition-duration: .2s;
}
